.hero {
    display: flex;
    padding: 96px 0px 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
    align-self: stretch;
    background-color: hsl(250, 100%, 97%);
  }