body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div:not(.dropdown-content) {
    margin-left: 15%;
    padding: 1px 16px;
    height: 1000px;
}

.dropdown-content {
    display: none;
    z-index: 1;
}

ul.nav li.dropdown:hover {
    .dropdown-content {
        display: block;
        top: 0;
        cursor: pointer;
    }
}

ul.nav {
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    background-color: aliceblue;
    overflow: auto;
}

ul.nav li a{
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 800;
}

ul.nav li a.active {
    background-color: green;
    color: white;
}

ul.nav li a:hover:not(.active) {
    background-color: black;
    color: white;
}


@media screen and (max-width: 900px) {
    ul.nav {
        position: relative;
        width: 100%;
    }
    ul.nav li {
        display: inline;
        float: left;
    }
    ul.nav li.right {
        display: inline;
        float: right;
    }
    div {
        margin-left: 0%;
    }
}
@media screen and (max-width: 400px) {
    ul.nav {
        position: relative;
        width: 100%;
    }
    ul.nav li,ul.nav li.right {
        float: none;
    }
    div {
        margin-left: 0%;
    }
}