body {
    margin: 0;
    font-family: var(--body-font);
}

.flex-container {
    display: flex;
    padding: 11px 312px;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEBFF;
}

.nav-item a:not(.nav_mail){
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--primary-color);
}
.group-1 a:first-child {
    gap: 24px;
}

.flex-container > div {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_mail{
    display: flex;
    padding: 14px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    text-decoration: none;
}